* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid crimson;
    background-color:crimson;
    border-radius: 30px;
    width: 960px;
    margin: 20px;
}

h1 {
    color: goldenrod;
    font-family: 'Satisfy';
    font-size: 48px;
    margin-bottom: -10px;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 600px;
    height: 600px;
    border: 10px solid beige;
    border-radius: 10px;
    margin: 10px 0 40px 0;
    background-color:beige;
}

.gridRow {
    flex: 1;
    display: flex;
    gap: 1px;
}

.gridItem {
    flex: 1;
    background-color:antiquewhite;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button {
    padding: 5px 20px;
    font-weight: 900;
}

button.clear {
    background-color: crimson;
    color: white;
}